
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(106, 106, 230);
    font-family: "lato", sans-serif;
}
.upld{
    /* display: flex; */
    /* display: grid; */
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top:-31vw;
    margin-left: 18vw;
    width: 85vw;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.872);
    /* border: 1px solid black; */

}
.xx{
    position: relative;
    margin-left: 5vw;
    color: white;
}
.list{
    position: relative;
    margin-left: 5vw;
    margin-top: 5vw;
    color:white;
}
.ddd{
    margin-top: 18vw;
    display: grid;
    margin-left: 25vw;
    align-items: center;
}
.up{
    width: 25vw;
    height: 2.5vw;
    margin-top: 5vw;
    position: relative;
    border-radius:1vw ;
    background-color: rgb(108, 108, 248);
}
.fil{
   position: relative;
    margin-left: 4vw;
    height: 10vw;
    width: 17vw;
    /* background-color:rgba(255, 255, 255, 0.498); */
    background-color: rgb(178, 178, 209);
    border-radius: 20px;


   
}
.nav{
    margin-left: -60vw;
}
.sub{
    margin-left: -8vw;
}